---
title: RPGs
---

<% data.rpgs.played.each do |series| %>
<div class="series">
  <h1 class="series-name"><%= series.series %></h1>
  <ul>
  <% series.games.each do |game| %>
    <li>
        <span class="js-game-name game-name"><%= game.game %></span>
        <span class="game-platforms"><%= game.platforms %></span>
        <span class="game-comment"><%= game.comment %></span>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
