---
title: RPGs
---

<% data.rpgs.played.each do |series| %>
  <%= series.series %>
  <ul>
  <% series.games.each do |game| %>
    <li>
        <span class="js-game-name game-name"><%= game.game %></span>
        <span class="game-platforms"><%= game.platforms %></span>
        <span class="game-comment"><%= game.comment %></span>
    </li>
  <% end %>
  </ul>
<% end %>
