// Mobile.
@media screen and (max-width:500px) {
  body { font-size: 14px !important; }

  [role="navigation"] {
    margin-top: calc(-274px - 1.777rem);
  }

  .main-navigation {
    flex-direction: column;
  }

  .desktop-only { display: none !important; }

  // Entries.
  .entry-content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .entry-header .wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .entry-title {
    font-size: ms(5) !important;
  }
  .entry-metadata {
    flex-direction: column;
  }
  .entry blockquote {
    margin: 0 -1rem;
    padding: 1.777rem;
  }


  .lower-hero {
    flex-direction: column;
  }
  .this-has-been,
  .what-is {
    margin-bottom: 1rem;
    border: 0;
    text-align: center;
  }
  .this-has-been img {
    margin-left: auto;
    margin-right: auto;
  }
  .what-is > h1 {
    order: 0;
  }

  .jukes {
    flex-direction: column;
  }
  .copyright {
    margin-left: 1.777rem;
    margin-right: 1.777rem;
  }
}
