// Additional "mobile-first" styles.
// While the site strives to be mobile-first, for ease of overriding, some
// styling is deffered here.
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

  .desktop-only { display: none !important; }

  .site-logo.sans-star {
    background-image: url('../images/phoenix-sans-star@2x.png');
    background-size: 398px;
  }
  .site-logotype {
    font-size: 1.333rem !important;
    margin-top: 0.317rem !important;
  }
  .site-tagline { font-size: 0.75rem !important; }
  .hero-posts {
    align-items: stretch;
    margin-top: 1.777rem;
  }

  .entry-title { font-size: 4.209rem !important; }

  .this-has-been,
  .what-is {
    margin-bottom: 1rem;
    border: 0;
    text-align: center;
  }
  .this-has-been img {
    margin-left: auto;
    margin-right: auto;
  }
  .what-is > h1 {
    padding-bottom: 0.5rem;
    order: 0;
  }
  .copyright {
    margin-left: 1.777rem;
    margin-right: 1.777rem;
  }

}

// Desktop (and low-resolution display) styles and overrides.
@media only screen and (min-width: 480px) {

  .desktop-only { display: block !important; }
  .mobile-only { display: none !important; }

  .header .ss-icon { @include position(relative, 4px 0 0 0); }
  [role="navigation"] { margin-top: calc(-146px - 1.777rem); }

  .recent-title { font-weight: 600; }
  .recent-item { border-bottom: 1px solid #272E37; }

}

@media only screen and (min-width: 768px) {

  .jukes,
  .lower-hero,
  .hero-posts,
  .main-navigation {
    flex-direction: row;
  }

  .introductory-tile {
    width: 100%; height: 100%;
  }

  .entry-content {
    h1, h2, h3, p, ol, ul {
      margin-left: auto;
      margin-right: auto;
      width: 41.955rem;
    }
  }

  .lower-hero { width: 41.955rem; }

}

@media only screen and (min-width: 1140px) { }
