.header {
  @include position(relative);
  background: linear-gradient(#272E37, #161B21);
  text-align: center;

  margin-top: -1.777rem;

  a { text-decoration: none; }
  .site-logotype {
    @include position(absolute, 20% 0px 0 0px);
    width: 100%;
    z-index: 0;
  }
  .ss-icon {
    color: #FFF;
    font-size: 32px;
  }
}
.site-logo {
  @include position(relative);
  margin: 0;
  height: 23.612rem;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background-image: url('../images/phoenix.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 5;
}
.site-logo.sans-star {
  background-image: url('../images/phoenix-sans-star.png');
}
.site-logotype {
  color: #161B21;
  font-family: $font-family-logotype;
  letter-spacing: -1rem;
  text: {
    align: center;
    decoration: none;
    shadow: 0 1px 0 rgba(#FFF, 0.05);
    transform: uppercase;
  };
}

[role="navigation"] {
  margin-top: calc(-274px - 1.777rem);
  background-color: #272E37;
  padding-bottom: 1.777rem;

  text-align: center;
  transition: all 250ms ease;

  a { text-decoration: none; }
  i, span {
    display: block;
    color: #828B96;
    font-size: 0.75rem;
  }
  strong {
    color: #FFF;
    display: block;
    font-family: $font-family-secondary;
  }
  .ss-icon {
    font-size: 32px;
  }
}
.show-left [role="navigation"] {
  margin-top: 0;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  li {
    flex: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}

.toggle {
  display: block;
  @include position(absolute);
  padding-top: 1.777rem;
  width: 100%;
  z-index: 100;
}

.icon-contain {
  @include position(absolute, 0 0 0em 0);
  width: 100%;

  .ss-icon {
    color: #828B96;
    font-size: 64px;
  }
}
