<footer class="footer" role="complimentary">
  <div class="lower-hero">
    <div class="this-has-been">
    <!-- Throw a logo in here. -->
      <h1 class="desktop-only">Thanks for reading!</h1>
      <img src="https://pbs.twimg.com/profile_images/378800000760682209/b065d3b7e642ddda1155741e3c3ccd80_bigger.jpeg">
      <p>This has been <a href="http://bryanvelo.so">Bryan Veloso</a>'s <strong>Avalonstar</strong>.</p>
    </div>
    <div class="what-is">
      <h1>What is Avalonstar?</h1>
      <p>From design portfolio, to award-winning blog, to personal playground, Avalonstar is the long-running journal and online moniker of designer and developer, Bryan Veloso.</p>
    </div>
  </div>
  <!--
  <ul class="social">
    <li class="facebook"><a href="https://facebook.com/bryanveloso">Facebook</a></li>
    <li class="twitter"><a href="https://twitter.com/bryanveloso">Twitter</a></li>
    <li class="twitch"><a href="http://twitch.tv/vlogalonstar">Twitch</a></li>
    <li class="youtube"><a href="http://youtube.com/bryanveloso">YouTube</a></li>
    <li class="vimeo"><a href="http://vimeo.com/bryanveloso">Vimeo</a></li>
    <li class="github"><a href="http://github.com/bryanveloso">GitHub</a></li>
  </ul>
  -->
  <div class="copyright">
    <p><strong>&copy; 2000-2013.</strong> Powered by <a href="https://github.com/jekyll/jekyll">Jekyll</a> and <a href="http://heroku.com">Heroku</a>. <a href="https://github.com/bryanveloso/avalonstar">Get the source</a>.</p>
  </div>
</footer>
