<nav role="navigation">
  <ul class="main-navigation">
    <!--
    <li class="section-live desktop-only">
      <% link_to "/live/" do %>
        <span class="ss-icon ss-air">&#x1F4F9;</span>
        <strong>Live</strong> <span>Making a fool of myself. <i>(And it's all live.)</i></span>
      <% end %>
    </li>
    -->
    <li class="section-journal">
      <a href="/journal/">
        <span class="ss-icon ss-air">&#x1F4D3;</span>
        <strong>Journal</strong> <span>Today's fluff. <i>(Yesteryear's... fluff.)</i></span>
      </a>
    </li>
    <li class="section-about">
      <a href="/about/">
        <span class="ss-icon ss-air">&#x2301;</span>
        <strong>About</strong> <span>Written in the stars. <i>(It's not that interesting.)</i></span>
      </a>
    </li>
  </ul>
</nav>
