<ul class="social">
  <li class="service">
    <a class="facebook" href="https://facebook.com/bryanveloso">
      <span class="ss-icon ss-social-regular">&#xF610;</span>
      <span class="service-name">Facebook</span>
    </a>
  </li>
  <li class="service">
    <a class="twitter" href="https://twitter.com/bryanveloso">
      <span class="ss-icon ss-social-regular">&#xF611;</span>
      <span class="service-name">Twitter</span>
    </a>
  </li>
  <li class="service">
    <a class="google" href="https://plus.google.com/+BryanVelosoraptor" rel="author">
      <span class="ss-icon ss-social-regular">&#xF613;</span>
      <span class="service-name">Google+</span>
    </a>
  </li>
  <li class="service">
    <a class="youtube" href="http://youtube.com/bryanveloso">
      <span class="ss-icon ss-social-regular">&#xF630;</span>
      <span class="service-name">YouTube</span>
    </a>
  </li>
  <li class="service">
    <a class="vimeo" href="http://vimeo.com/bryanveloso">
      <span class="ss-icon ss-social-regular">&#xF631;</span>
      <span class="service-name">Vimeo</span>
    </a>
  </li>
  <li class="service">
    <a class="github" href="http://github.com/bryanveloso">
      <span class="ss-icon ss-social-regular">&#xF671;</span>
      <span class="service-name">GitHub</span>
    </a>
  </li>
</ul>
