<div class="home-videos home-section">
  <header class="home-section-header">
    <span class="ss-icon ss-air">&#x1F4F9;</span>
  </header>
  <div class="video-list">
    <div class="video-type youtube">
      <div class="video-statistics">
        <a class="video-link" href="http://youtube.com/bryanveloso">Avalonstar <i>on YouTube</i></a>
        <a class="subscriber-link" href="http://youtube.com/user/bryanveloso/subscribers"><span class="js-youtube-subscriber-count"></span></a>
        <span class="ss-icon ss-smile"></span>
      </div>
      <div class="embed-container">
        <iframe id="ytplayer" src="http://www.youtube.com/embed/?vq=hd720&amp;listType=playlist&amp;list=PLD47E8E769D01C633&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="background">
        <!-- <h1><a class="js-recent-youtube-link" href="">Questions &amp; Answers: Passion, Drive and eSports Commentating</a></h1> -->
        <p>Avalonstar started life as a portfolio. As the years passed, it turned into a blog. Writing happened, for a while. But as with all things, writing took a back seat. <strong>Avalonstar.tv</strong> is an attempt to rekindle the magic I found in blogging, only now with video.</p>
      </div>
    </div>
    <div class="video-type twitch">
      <div class="video-statistics">
        <a class="video-link" href="http://twitch.tv/avalonstar">Avalonstar Live <i>on Twitch</i></a>
        <a class="subscriber-link" href="http://youtube.com/user/bryanveloso/subscribers"><span class="js-twitch-subscriber-count">125</span></a>
        <span class="ss-icon ss-smile"></span>
      </div>
      <div class="embed-container">
        <iframe id="player" type="text/html" src="http://www.twitch.tv/avalonstar/hls" frameborder="0"></iframe>
      </div>
      <div class="background">
        <!-- <h1><a class="js-recent-twitch-link" href="">Bryan &amp; Jen Play TERA</a></h1> -->
        <p>Once upon a time, I started gaming. Years later, I was still gaming. Fast foward just a bit, I found myself stumbling on a phenomenon called <em>shoutcasting</em>. <strong>Avalonstar Live</strong> is my hilarious attempt at becoming a game streamer and shoutcaster.</p>
      </div>
    </div>
  </div>
</div>
