{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body id="avalonstar-tv" {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
  <div class="page">
    {% include navigation.html %}
    {% include header.html %}
    <div id="content" role="main">
      {{ content }}
    </div>
    {% include footer.html %}
    {% include juke.html %}
  </div>
  <script src="/javascripts/application.js"></script>
  <script src="/javascripts/twitch.js"></script>
  <script src="/javascripts/youtube.js"></script>
  <script src="/javascripts/fonts.js"></script>
</body>
</html>
