---
layout: default
single: true
---

<div class="wrapper">
<article class="entry hentry video-entry" role="article">
  <section class=""></section>

  <header class="entry-header">
    <div class="wrapper">
      <h1 class="entry-title">{{ page.title | widont }}</h1>
      <span class="entry-category">{{ page.category }}</span>
      <a class="scroll-target" href="#top"><span class="ss-icon ss-navigatedown"></span></a>
    </div>
  </header>

  <div id="top" class="entry-content">
    <div class="video-wrapper">
      <div class="embed-container">
        <iframe src="http://youtube.com/embed/{{ page.ytid }}?vq=hd720&amp;showinfo=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="entry-metadata js-yt-metadata">
      <div class="entry-meta entry-views">
        <span class="ss-icon ss-tv"></span>
        <span class="entry-meta-detail"><span class="js-yt-views"></span> <span class="metadata-prefix">Views</span></span>
      </div>
      {% if page.series and page.episode %}
      <div class="entry-meta entry-episode">
        <span class="ss-icon ss-clapboard"></span>
        <span class="entry-meta-detail"><span class="metadata-prefix">{{ page.series }}</span> #{{ page.episode }}</span>
      </div>
      {% endif %}
      <div class="entry-meta entry-likes">
        <span class="ss-icon ss-heart"></span>
        <span class="entry-meta-detail"><span class="js-yt-comments"></span> <span class="metadata-prefix">Likes</span></span>
      </div>
    </div>

    <hr>
    {{ content | widont }}
  </div>

  <footer class="entry-metadata js-yt-metadata">
    <div class="entry-meta entry-published">
      <span class="ss-icon ss-calendar"></span>
      <time class="entry-meta-detail"><span class="metadata-prefix">Uploaded</span> {{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
  </footer>
  <!--
  <div class="yt-description">
    <h2 class="yt-description-header">Video Description</h2>
    <div class="js-yt-description"></div>
  </div>
  -->
</article>
</div>

{% include custom/youtube.html %}
