[role="navigation"] {
  margin-top: calc(-146px - 1.777rem);
  background-color: #272E37;
  padding-bottom: 1.777rem;

  text-align: center;
  transition: all 250ms ease;

  a { text-decoration: none; }
  i, span {
    display: block;
    color: #828B96;
    font-size: ms(-1);
  }
  strong {
    color: #FFF;
    display: block;
    font-family: $font-family-secondary;
  }
  .ss-icon {
    font-size: 36px;
  }
}
.show-left [role="navigation"] {
  margin-top: 0;
}

.main-navigation {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: ms(13);

  li {
    flex: 1;
    padding-bottom: ms(0);
    padding-top: ms(0);
  }
}

.site-logotype {
  @include position(absolute, 0px 0px 0 0px);
  width: 100%;
  z-index: 0;

  color: #161B21;
  font-family: $font-family-tertiary;
  letter-spacing: -3px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(#FFF, 0.05);
}

.header {
  @include position(relative);
  background: linear-gradient(#272E37, #161B21);
  text-align: center;

  margin-top: -1.777rem;

  a { text-decoration: none; }
  .ss-icon {
    color: #FFF;
    font-size: 32px;
  }
}

.site-logo {
  @include position(relative);
  margin: 0;
  height: 23.612rem;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;

  background-image: url('../images/phoenix.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  z-index: 5;
}
.site-logo.sans-star {
  background-image: url('../images/phoenix-sans-star.png');
}

.toggle {
  display: block;
  @include position(absolute);
  padding-top: 1.777rem;
  width: 100%;
  z-index: 100;
}

.icon-contain {
  @include position(absolute, 0 0 0rem 0);
  width: 100%;

  .ss-icon {
    color: #828B96;
    font-size: 64px;
  }
}
