---
layout: default
single: true
---

<div>
<article class="entry hentry prose-entry" role="article">
  <section class=""></section>
  <header class="entry-header">
    <div class="entry-metadata">
      <time class="entry-published">{{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
    <h1 class="entry-title">{{ page.title | widont }}</h1>
  </header>
  <div class="entry-content">{{ content | widont }}</div>
  <footer class="entry-metadata">
    <div class="entry-published">
      <span class="ss-icon ss-calendar"></span>
      <time class="entry-datestamp"><span class="datestamp-action">Published</span> {{ page.date | date: "%B %-d, %Y" }}</time>
    </div>
  </footer>
</article>
</div>
