---
layout: default
single: true
---

<div class="wrapper">
<article class="entry hentry" role="article">
  <section class=""></section>

  <div class="embed-container">
    <iframe src="http://youtube.com/embed/{{ page.ytid }}?vq=hd720" frameborder="0" allowfullscreen></iframe>
  </div>

  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
    <table class="entry-metadata js-yt-metadata">
      <tr>
        <td class="episode js-yt-episode" rowspan="2">Episode {{ page.episode }} <span class="entry-date">{{ page.date | date: "%B %d, %Y" }}</span></td>
        <td class="views"><span class="js-yt-views"></span> views</td>
      </tr>
      <tr>
        <td class="comments"><span class="js-yt-comments"></span> favorites</td>
      </tr>
    </table>
  </header>

  <div class="entry-content">{{ content | widont }}</div>
  <div class="entry-content js-yt-description"></div>
</article>

<div class="juke">
{% include post/juke.html %}
</div>
</div>

{% include custom/youtube.html %}
