// Force the box model to use the saner border-box calculation.
*, *:before, *:after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

html, body { width: 100%; height: 100%; }
html { -webkit-tap-highlight-color: rgba(#000, 0); }
body {
  color: $body-font-color;
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

a { color: #272E37; }
hr {
  display: block;
  margin: 2.369rem auto;
  width: 25%;

  border: 0;
  border-top: 1px solid #DFE3E8;
}

.scroll-target { text-decoration: none; }
