<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>

  <meta name="author" content="{{ site.author }}">
  <meta name="copyright" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="ICBM" content="34.023411,-118.403607">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains ".html" %}{{ page.url }}{% else %}{{ page.url | remove:"index.html" }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ root_url }}/stylesheets/screen.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

  <script type="text/javascript" src="//use.typekit.net/faf8zln.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
