<nav role="navigation">
  <ul class="main-navigation">
    <li class="section-live desktop-only">
      <a href="/live/">
        <span class="ss-icon ss-video"></span>
        <strong>Live</strong> <span>Making a fool of myself. <i>(And it's all live.)</i></span>
      </a>
    </li>
    <li class="section-journal">
      <a href="/journal/">
        <span class="ss-icon ss-notebook"></span>
        <strong>Journal</strong> <span>Today's fluff. <i>(Yesteryear's... fluff.)</i></span>
      </a>
    </li>
    <li class="section-about">
      <a href="/about/">
        <span class="ss-icon ss-flash"></span>
        <strong>About</strong> <span>Written in the stars. <i>(It's not that interesting.)</i></span>
      </a>
    </li>
  </ul>
</nav>
