$width: ms(13);

.entry {
  p {
    font-size: ms(1);
    margin: ms(2) auto;
    // width: ms(13);
  }
  blockquote {
    margin: 0;
    padding: ms(1);
    background: #F9FAFC;

    cite, cite a {
      color: #828B96;
      font-size: ms(0);
    }
    p {
      color: #828B96;
      font-size: ms(0);
      // width: ms(13) + ms(4);
    }
  }
}
.entry-header {
  padding-top: 4.209rem; padding-bottom: 2.369rem;
  background-color: #161B21;

  .wrapper {
    @extend %container;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .entry-title {
    flex: 1;
    margin: 0;

    color: #FFF;
    font-family: $font-family-tertiary;
    font-size: ms(6);
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 0.9;
  }
  .ss-navigatedown {
    padding-top: 2.369rem;
  }
}
.entry-category {
  font-family: $font-family-secondary;
  font-size: ms(-1);
}

.entry-content {
  padding-top: 1rem;
}

.entry-metadata {
  @extend %container;
  display: flex;
}
.entry-meta {
  @include position(relative);
  flex: 1;
  margin: 3rem 0 1rem;
  font-family: $font-family-secondary;
  font-size: ms(-1);
  text-align: center;

  .metadata-prefix {
    color: #A1ABB6;
  }
  .entry-meta-detail {
    @include position(relative);
    z-index: 10;
    background-color: #FFF;
  }
  .ss-icon {
    @include position(absolute, -20px 0 0 50%);
    margin-left: -21px;
    z-index: 0;
    color: #EBEFF5;
    font-size: 42px;
  }
}


.entry p {
  margin: ms(2) auto;
  width: ms(13);
}
