.introductory-tile {
  @include position(relative);
  display: flex;
  flex-direction: column;
  background: linear-gradient(#272E37, #161B21);

  .ss-icon {
    display: block;
    color: #FFF;
    font-size: 32px;
  }
  .tile { flex: 1; }
}
.primary-introduction {
  @include position(relative);
  background-image: url('../images/phoenix.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200px;
  min-height: 17.713rem;

  &:before {
    @include position(absolute, 0 0 0 0);
    top: calc(50% - 60px); left: calc(50% - 60px);
    content: '';
    width: 120px; height: 120px;

    background: #161B21;
    border-radius: 50%;
    box-shadow: 0 1px 0 #272E37;
  }
  .site-logo {
    @include position(absolute, 0px 0px 0px 0px);
    height: auto;
    background-position: center center;
    background-size: 200px;
  }
}
.secondary-introduction {
  display: flex;
  flex-direction: column;

  .site-established {
    display: block;
    color: #646D77;
    font-family: $font-family-secondary;
    font-size: 0.563rem;
    font-weight: 700;
  }
  .site-logotype {
    display: block;
    margin-bottom: 0;
    margin-top: 0.422rem;
    color: #FFF;
    font-size: 2.369rem;
    letter-spacing: -2px;
    line-height: 1;
  }
}

.hero {
  margin: 0 auto;
  text-align: center;
}
.hero-posts {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  flex: 1;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;

  .ss-icon { color: #454d57; }
  .recent-title { font-weight: 300; }
}
.recent-item {
  flex: 1;
  margin: 0 1rem;
  padding: 1.777rem;
  text-align: center;
}
.recent-title {
  font-family: $font-family-tertiary;
  margin: 0;
  line-height: 1;

  a {
    color: #FFF;
    text-decoration: none;
  }
}
.recent-published {
  font-family: $font-family-secondary;
  font-size: 0.75rem;
}

.home-section {
  margin: 1.777rem auto;

  .ss-icon { font-size: 36px; }
}
.home-section-header {
  padding: 1.7777rem 0;
  text-align: center;

  .ss-icon { font-size: 42px; }
}

//
.recent-posts {
  a {
    color: #333;
    text-decoration: none;
  }
  .recent-list {
    margin: 0;
    margin-left: 1.333rem;
    margin-right: 1.333rem;
    padding: 0;
    list-style: none;
  }
  .recent-list-item {
    align-items: flex-start;
    display: flex;
    padding-bottom: 1.777rem;

    &:last-child { padding-bottom: 0; }
    div { flex: 1; }
    .ss-icon { color: #CBD1D8; }
  }
  .recent-title {
    margin: 0;
    font-family: $font-family-primary;
    font-size: 1.777rem;
    letter-spacing: -1px;
    line-height: 1;

    a { color: #454D57; }
  }
  .recent-published { color: #A1ABB6; }
}

//
.video-list {
  display: flex;
  flex-direction: column;

  .embed-container { margin: 1rem 0 1rem; }
}
.video-type {
  flex: 1;
  margin-left: 1.333rem;
  margin-right: 1.333rem;

  &.youtube { padding-bottom: 1.777rem; }
}
.video-statistics {
  align-items: flex-start;
  display: flex;
  padding-top: 0.75rem;

  border-top: 1px solid #EBEFF5;
  font-family: $font-family-secondary;
  font-size: 0.75rem;

  a { text-decoration: none; }
  .ss-icon {
    @include position(relative, -3px 0 0 0);
    padding-left: 3px;
    color: #CBD1D8;
    font-size: 16px;
  }
}
.subscriber-link {
  @include position(relative, -2px 0 0 0);
  color: #A1ABB6;
  font-weight: 700;
}
.video-link {
  flex: 1;

  color: #A1ABB6;
  font-family: $font-family-logotype;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
}
.video-link i {
  display: block;

  font-family: $font-family-secondary;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;

  .twitch & { color: rgba($brand-twitch, 0.75); }
  .youtube & { color: rgba($brand-youtube, 0.75); }
}
.video-error {
  padding-left: 1.333rem;
  padding-right: 1.333rem;
}
.background p {
  font-size: 0.75rem;
  margin: 0;
}

// Landing page-specific overrides.
.index {
  [role="navigation"] {
    margin-top: 0;
    padding: 1.777rem 0;
  }
  .main-navigation { width: auto; }
  .ss-navigatedown {
    height: 40px;
    margin: 1.777rem 0;
    font-size: 32px;
    text-align: center;
  }
}
